/* Общая стилизация таблицы */
.table {
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}
  
/* Стилизация заголовков таблицы */
.table-header {
    color: white;
    padding: 10px 15px;
}

/* Стилизация строк таблицы */
.table-data {
    padding-left: 3.5px;
    position: relative;
    text-align: center;
    border: 1px solid #ddd;
}
