.App {
  text-align: center;
}

.App-header {
    box-sizing: border-box;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    color: white;
}

.app-header-title{
  margin-bottom: 0;
}

.app-header-subtitle{
  margin-top: 5px;
}