.control-btn{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 0;
    color: white;
    background-color: rgb(43, 177, 254);
    transition: .15s all ease;
    cursor: pointer;
}

.control-btn:hover{
    background-color: rgb(43, 177, 254, 0.8);
    font-size: 14pt;
}

.control-btn:active{
    background-color: rgb(43, 177, 254, 0.6);
}